version: "3.8"
services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://postgres:Anunudaniel2001@db:5432/postgres
      - PORT=3000
      - NODE_ENV=development
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Anunudaniel2001
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
